@import {
  file: /bower_components/normalize-css/normalize.css;
  file: /bower_components/suit-base/base.css;
  file: /bower_components/suit-utils-link/link.css;
  file: /bower_components/suit-utils-layout/layout.css;
  file: /bower_components/suit-utils-state/state.css;
  file: /bower_components/suit-utils-text/text.css;
  file: /bower_components/suit-button/button.css;
  file: /bower_components/suit-button-group/button-group.css;
  file: /bower_components/suit-button-group/button-group.plugin.css;
}

html, body{
}

svg {
  display: block; /* no unnecessary vertical scrollbar when height is 100% */
  overflow: hidden;
}

.Edge {
    stroke-dasharray: 0.001 8;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke: #AAB2BD;
    fill: none;
}
.Edge--end {
    fill: none;
    marker-end: url(#fch-endarrow);
}
.Edge-intersection line {
    fill: none;
    stroke-width: 2px;
    stroke: #AAB2BD;

}
.Edge-intersection rect {
    fill: #fff;
    stroke: none;

}
