@import {
  file: /bower_components/normalize-css/normalize.css;
  file: /bower_components/suit-base/base.css;
  file: /bower_components/suit-utils-link/link.css;
  file: /bower_components/suit-utils-layout/layout.css;
  file: /bower_components/suit-utils-state/state.css;
  file: /bower_components/suit-utils-text/text.css;
  file: /bower_components/suit-button/button.css;
  file: /bower_components/suit-button-group/button-group.css;
  file: /bower_components/suit-button-group/button-group.plugin.css;
}

html, body{
}

svg {
  display: block; /* no unnecessary vertical scrollbar when height is 100% */
  overflow: hidden;
}

.Edge {
    stroke-dasharray: 0.001 8;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke: #AAB2BD;
    fill: '#f00';
    background: red;
}

.Edge--end {
    fill: '#fff';
    marker-end: url(#fch-endarrow);
}
.Edge-intersection line {
    fill: none;
    stroke-width: 2px;
    stroke: #AAB2BD;

}
.Edge-intersection rect {
    fill: #fff;
    stroke: none;
}

.Edge--path{
  stroke-width: 5px;
  stroke: url(#fch-line-pattern);
  fill: transparent;
}

/* these are values for the control graph with dagre-d3 */
.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}
/* end of dagre-d3 config */
